body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    /*
    fixed = parallax
    scroll = normal
    */

    background-attachment: fixed;
}

.pimg1{
    background-image: url(/img/excercise5.jpg);
    min-height: 100%;
}

.pimg2{
    background-image: url(/img/exercise7.jpg);
    background-repeat: no-repeat;
    min-height: 400px;
}

.pimg3{
    background-image: url(/img/exercise1.jpg);
    min-height: 400px;
}

.pimg4{
    background-image: url(/img/exercise2.jpeg);
    min-height: 400px;
}

.pimg5{
    background-image: url(/img/excercise5.jpg);
    min-height: 400px;
}

section{
    text-align: center;
    padding:  50px 80px;
}

    /* 
        below: not really needed since it's default
    */

.section-light{
    background-color: whitesmoke;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}